<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.vgtk.englishinprofession">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishInProfession">
        <activity
            android:name=".ui.computers.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.roaders.RoadersVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.roaders.RodersTestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.roaders.RoadersTest1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.roaders.RoadersTest2Activity"
            android:exported="false" />
        <activity
            android:name=".PDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mechanics.CarMechanicsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mechanics.CarMechanicsAnatomyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mechanics.CarMechanicsEnginesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mechanics.CarMechanicsElectricalSystemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.computers.EnglishVocForComputerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersProfessionsDescriptionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersVocabulary"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersConstructionSiteSafetyRules"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersBooksActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersToolsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersMaterialsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersBricksActivity"
            android:exported="false" />

        <activity
            android:name=".ui.builders.BuildersTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.computers.ComputersTestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.EnglishInProfession.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>